<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <style>
        body { text-align:center; font-family:Arial; }
        .slot {
            padding:20px;
            margin:10px;
            width:120px;
            display:inline-block;
            color:white;
            font-weight:bold;
            cursor:pointer;
        }
        .available { background-color:green; }
        .occupied { background-color:red; }
    </style>
</head>
<body>

<h2>Admin Dashboard</h2>
<a href="/logout">Logout</a>
<br><br>

{% for i in range(slots|length) %}
    <a href="/toggle/{{i}}">
        <div class="slot {% if slots[i]=='Available' %}available{% else %}occupied{% endif %}">
            Slot {{i+1}} <br>
            {{slots[i]}}
        </div>
    </a>
{% endfor %}

</body>
</html>